<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统初始化</title>
    <script type="text/javascript" th:src="@{/js/lib/v1.11.0-rc1-ext0.1/jquery.all.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/init.js}"></script>
    <script type="text/javascript">
        var contextPath='[[${#httpServletRequest.getContextPath()}]]';
    </script>
</head>
<body>
系统初始化中......
</body>
</html>
